<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'MicsApp/base.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <title>Mics.sch</title>
  <style>
  </style>
</head>
<body>
  {% block content %}
    <div class="header_text">Наші послуги</div>
    <div class="blog_post_bg">
      <div class="blog_post_img"><div class="indiv_resized"></div></div>
      <div class="blog_post_text_block"></div>
      <div class="blog_post_img"><div class="indiv_resized"></div></div>
      <div class="blog_post_text_block"></div>
      <div class="blog_post_img"><div class="group_resized"></div></div>
      <div class="blog_post_text_block"></div>
    <div class="blog_post_img"><div class="group_resized"></div></div>
      <div class="blog_post_text_block">
        <div class="blog_text_topic"><a href="{% url "homepage" %}">Групові зайняття з шахів (молодша група)</a></div>
        <div class="blog_separation_line"></div>
        <div class="blog_text_main">Пн, Ср - 19.00</div>
        <div><button class="assign_lesson_button" onclick="">G</button></div>
      </div>
    </div>
  {% endblock %}
</body>
</html>