<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Mics.sch</title>
  <link rel="stylesheet" href="{% static 'MicsApp/Style.css' %}">
</head>
<body>
  <div class="header">
    <a href="{% url "homepage" %}"><div class="logo_header"></div></a>
    <div class="brand_header">MICS SCHOOL</div>
    <div class="blank"></div>
    <div class="login"><a href="{% url "homepage" %}"><div class="login_pick">Log In</div></a></div>
  </div>
  <div class="navbar">
    <a class="navbar_links" href="{% url "homepage" %}">Головна</a>
    <a class="navbar_links" href="{% url "blog" %}">Чому ми?</a>
    <a class="navbar_links" href="{% url "assign-lesson" %}">Запис онлайн</a>
    <a class="navbar_links" href="{% url "contact-info" %}">Блог</a>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>