<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'MicsApp/base.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <title>Mics.sch</title>
  <style>
    .body_img{
      margin: 1px;
      background-image: url("{% static 'MicsApp/1aa19b2e443cc366fd0773098ee9327c.jpeg' %}");
      background-size: cover;
      background-repeat: no-repeat; /* Prevent the image from repeating */
      background-position: center;
      height: 550px;
      width: calc(100% - 2px);
      clear: both;
      text-align: center;
      align-content: space-evenly;
      font-size: 36px;
      font-style: italic;
      color: black;
    }
  </style>
</head>
<body>
  {% block content %}
    <div class="body_img">Mics.sch <br>Become a master!</div>
  {% endblock %}
</body>
</html>